body {
    color:#414141;
    background-color:#eeeeee;
  }
  h1{
      font-size: 36px;
  }
  h2{
      font-size: 28px;
  }
  h1, h2, h3, h4, h5, h6{
      font-family: "Helvetica", "Ariel", sans-serif;
  }
  ol{
      list-style-type: lower-roman;
  }